<div
  class="uselect__holder"
  tabindex="0"
  [class.uselect__dropdown--open]="isDropDownOpen"
  [class.uselect__holder--disabled]="disabled"
  (click)="toggleDropDown(true, $event)">
  <div class="uselect__select input-group"
    [class.uselect___select--has-value]="(!isMultiple() && value) || (isMultiple() && 0 < arrValue().length)">
    <div class="form-control">
      <div *ngIf="value && isMultiple() && 0 < arrValue().length"
        class="uselect__selected-items"
        [uselectSortableData]="value">
        <ng-container
          *ngFor="let selectedItem of value; let i = index; trackByIndex">
          <div class="uselect__select-item" [uselectSortableIndex]="sortKey ? i : undefined"
            (onUselectIndexChange)="onUselectIndexChange($event)"
            (onUselectDragstart)="onUselectDragstart($event)">
            <span class="uselect__select-item-template">
              <ng-container
                *ngTemplateOutlet="selectTemplate; context: {$implicit: selectedItem}"></ng-container>
              <ng-container
                *ngIf="!selectTemplate">
                {{selectedValue(selectedItem)}}
              </ng-container>
            </span>
            <div class="btn-group ml-auto">
              <button *ngIf="sortKey"
                type="button" class="btn btn-light btn-sm" aria-label="Move"
                uselectSortableHandle>
                <span aria-hidden="true">&#x2195;</span>
              </button>
              <button type="button" class="btn btn-light btn-sm" aria-label="Move"
                (click)="removeItem(selectedItem)">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
      <div *ngIf="value && !isMultiple()" class="uselect__selected-items">
        <div class="uselect__select-item">
          <ng-container
            *ngTemplateOutlet="selectTemplate; context: {$implicit: value}"></ng-container>
          <ng-container
            *ngIf="!selectTemplate">
            {{selectedValue(value)}}
          </ng-container>
          <div class="btn-group ml-auto">
            <button *ngIf="!disableEmpty"
              type="button" class="btn btn-light btn-sm" aria-label="Move"
              (click)="removeItem(selectedItem)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!value || 0 == arrValue().length"
        class="uselect__placeholder">
        {{placeholder}}
      </div>
    </div>
    <div *ngIf="service && isMultiple()" class="input-group-append">
      <button class="uselect__btn-dropdown btn btn-outline-secondary dropdown-toggle" type="button" (click)="toggleDropDown(!isDropDownOpen)"></button>
    </div>
  </div>
  <div class="uselect__dropdown form-control">
    <div class="uselect__search input-group">
      <input type="text" class="form-control"
        [(ngModel)]="search"
        (ngModelChange)="onSearchChange()"
        (keydown)="onSearchKeydown($event)"
        tabindex="0"
        #uselectSearch />
    </div>
    <div class="uselect__items">
      <div *ngFor="let dataItem of items; let i = index; trackByIndex"
        class="uselect__item"
        [class.uselect__item--selected]="isCurrent(dataItem)"
        [class.uselect__item--highlighted]="highlightedIndex == i"
        (click)="selectItem(dataItem)">
        <ng-container
          *ngTemplateOutlet="dropDownTemplate; context: {$implicit: dataItem}">
        </ng-container>
        <ng-container *ngIf="!dropDownTemplate">
          {{dropDownValue(dataItem)}}
        </ng-container>
      </div>
    </div>
  </div>
</div>
