@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';

:host {
  display: flex;
  max-height: 100%;
  .uselect__holder {
    width: 100%;
    position: relative;
    &.uselect__holder--disabled {
      .form-control {
        background-color: $gray-200;
        color: color-yiq($gray-200);
        .btn {
          display: none;
        }
      }
    }
    .uselect__select {
      width: 100%;
      max-height: 100%;
      > .form-control {
        padding: 6px;
        max-height: 100%;
      }
      .uselect__btn-dropdown {
        height: 100%;
      }
      .uselect__selected-items {
        width: 100%;
        max-height: 100%;
        overflow: auto;
        .uselect__select-item {
          display: flex;
          width: 100%;
          align-items: center;
          padding: 0 3px;
          & + .uselect__select-item {
            margin-top: 3px;
          }
          &.uselect__select-item--draggable {
            transform: scale(0.95);
            border: 1px dashed #cecece;
            border-radius: 2px;
            background: rgba(255, 255, 255, 0.8);
          }
          span.uselect__select-item-template {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
          }
          .btn[uselectsortablehandle] {
            cursor: move;
            &:hover {
              background-color: #f8f9fa;
              border-color: #f8f9fa;
            }
          }
        }
      }
    }
    .uselect__dropdown {
      position: absolute;
      z-index: 2147483647;
      display: none;
    }
    &.uselect__dropdown--open {
      .uselect__select {
        > div {
          border-bottom-left-radius: 0;
        }
        .uselect__btn-dropdown {
          border-bottom-right-radius: 0;
        }
      }
      .uselect__dropdown {
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
        padding: 0;
        width: 100%;
        .uselect__search {
          width: 100%;
          padding: 5px;
        }
        .uselect__items {
          max-height: 33vh;
          overflow-x: hidden;
          overflow-y: auto;
          .uselect__item {
            display: flex;
            align-items: center;
            padding: 5px 8px;
            &:hover,
            &.uselect__item--highlighted {
              cursor: pointer;
              background-color: $light;
              color: color-yiq($light);
            }
            &.uselect__item--selected {
              background-color: $primary;
              color: color-yiq($primary);
            }
          }
        }
      }
    }
  }
}
