@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/ng2-dnd/bundles/style';

:host {
  display: flex;

  .uselect__holder {
    width: 100%;
    position: relative;
    &.uselect__holder--disabled {
      .form-control {
        background-color: $gray-200;
        color: color-yiq($gray-200);
        .btn {
          display: none;
        }
      }
    }
    .uselect__select {
      width: 100%;
      > .form-control {
        padding: 6px;
      }
      .uselect__btn-dropdown {
        height: 100%;
      }
      .uselect__selected-items {
        width: 100%;
        &[dnd-sortable-container] {
          .uselect__select-item {
            border: 1px solid $gray-400;
            border-radius: 2px;
            box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
          }
        }
        .uselect__select-item {
          display: flex;
          width: 100%;
          align-items: center;
          padding: 0 3px;
          & + .uselect__select-item {
            margin-top: 3px;
          }
          span.uselect__select-item-template {
            width: 100%;
            max-width: 100%;
            overflow: hidden;
          }
          .btn[dnd-sortable-handle] {
            cursor: move;
          }
        }
      }
    }
    .uselect__dropdown {
      position: absolute;
      z-index: 2147483647;
      display: none;
    }
    &.uselect__dropdown--open {
      .uselect__select {
        > div {
          border-bottom-left-radius: 0;
        }
        .uselect__btn-dropdown {
          border-bottom-right-radius: 0;
        }
      }
      .uselect__dropdown {
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
        padding: 0;
        width: 100%;
        .uselect__search {
          width: 100%;
          padding: 5px;
        }
        .uselect__items {
          max-height: 33vh;
          overflow-x: hidden;
          overflow-y: auto;
          .uselect__item {
            display: flex;
            align-items: center;
            padding: 5px 8px;
            &:hover,
            &.uselect__item--highlighted {
              cursor: pointer;
              background-color: $light;
              color: color-yiq($light);
            }
            &.uselect__item--selected {
              background-color: $primary;
              color: color-yiq($primary);
            }
          }
        }
      }
    }
  }
}
